ul, li, body, blockquote
{
    margin: 0;
    padding: 0;
    
}

body
{
    max-width: 1920px;
    margin: 0 auto;
}
.main_content
{
    position: relative;
    background: url(Images/background.png) repeat-x 50% 0;
    margin: 0 auto;
    padding-left: 20px;
    
    
 }

.container
{
    width: 960px;
    margin: 0 auto ;
    padding-top: 205px;
  
}


.main_menu
{
    width: 960px;
    margin: 0 auto;
    height: 50px;
   
}

.main_menu_list
{
    padding: 0; 
    margin-bottom: 0;
}

.main_menu_item
{
    
    float: left;
    list-style: none;
    padding: 17px 30px 0 40px;
    height: 33px;
    
    
}

.main_menu_item:first-child
{
    
    background: url(Images/about_me_sec.png) no-repeat 15px 18px;
}

.main_menu_item:nth-child(2)
{
    background: url(Images/hobby_icon.png) no-repeat 15px 18px;
}

.main_menu_item:nth-child(3)
{
    background: url(Images/music_sec.png) no-repeat 12px 10px;
    background-size: 30px auto;
    padding-right: 10px;
}

.main_menu_item:first-child:hover
{
    background: url(Images/about_me_icon.png) no-repeat 15px 18px;
    color: white;
    text-decoration: none;
    background-color: #15a98c;  
}
 
.main_menu_item:nth-child(2):hover
{
    background: url(Images/hobby_icon_sec.png) no-repeat 15px 18px;
    color: white;
    text-decoration: none;
    background-color: #15a98c;  
}

.main_menu_item:nth-child(3):hover
{
    background: url(Images/music.png) no-repeat 12px 10px;
    background-size: 30px auto;
    color: white;
    text-decoration: none;
    background-color: #15a98c;  
}

.first_column
{
 
    width: 100%;
    margin-bottom: 80px;

}

.second_column
{
   
    max-width: 540px;
    float: right;
    margin-bottom: 40px;

}


.photo 
{
    display: inline-block;
    max-width: 330px;
    max-height: 350px;
    overflow: hidden;
    z-index:100;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 20px;
    float: left;
   
}

.clearfix:after
{
    content: "";
    display: block;
    clear:both
}

.photo img 
{
    width: 330px;
}

.quotation
{
    width: 570px;
    position: relative;
    font-size: 28px;
    line-height: 42px;
    color: rgb(255,255,255);
    font-family: "Georgia";
    font-style: italic;
    z-index: 60;
    padding: 0;
    float: right;
    margin-left: 60px;
}

.signature
{
    font-size: 16px;
    line-height: 42px;
    color: rgb(245,245,245);
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: 0;
}

.big_title
{
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: bold;  
}

.big_title:after 
{
    display: block;
    content: "";
    margin-top: 40px;
    height: 6px;
    width: 60px;
    background-color: #15a98c;
    border-radius: 3px;
}

.middle_title
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    margin-bottom: 0;
}

.about_me
{
    
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
}

.sidebar_title
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: "Open Sans";
    font-weight: bold; 
    margin-top:0 ;
}

.sidebar_list 
{
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    font-weight:inherit;
    padding: 0;
    margin-bottom: 57px;
    list-style-position: inside;
    
    
}

.sidebar
{
   max-width: 350px;
   float: left;
}
.quote
{
    position: relative;
    top: 50px;
}

.write_me
{
    display: block;
    font-size: 19px;
    line-height: 32px;
    color: #15a98c;
    font-family: "Georgia";
    margin-top: 60px;
    text-decoration: none;
}

.write_me_line
{
    text-decoration: underline;
}


.music-item
{
    
    width: 285px;
    padding: 0;
    float:left;
    padding-right: 15px;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
    text-align: left;
    margin-bottom: 60px;
}

.music-item p
{
    padding-top: 0;
    padding-right: 15px;
}

.music
{
    max-width: 1200px;
    padding:0;
    text-align: center;
    margin: 0 auto;
    
 }

 .music img
{
    max-width: 285px;
    margin:0;
    padding:0;
    max-height: 400px;
    display: block;
}

.clear
{
    clear:both;
}

.music-title
{
    text-align:left;
    margin-left:20px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
}

.music-subtitle
{
    margin:0;
}

.button a 
{
    border-radius: 5px;
    background-color: #15a98b;
    width: 250px;
    text-decoration:none;
    font-size: 19px;
    line-height: 60px;
    color: #f5f5f5;
    font-family: "Georgia";
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.button
{
    
    width:250px;
    margin: 0 auto;
    
}

.copyright
{
    text-align: center;
    font-size: 16px;
    line-height: 75px;
    color: #555555;
    font-family: "Georgia";
    min-height: 70px;
    background-color: #f5f5f5;
    margin-top: 50px;
    max-width: 1920px;
}


.send_mail
{
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 110px;
    font-size: 20px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
}

.mail_me
{
    max-width:540px;
    margin: 0 auto;
}

.mail_me_title
{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    text-align: center;
    font-weight:lighter;
    display: block;
    max-width: 540px;
    margin-bottom: 50px;
    
   
}


.mail_me_title:before,
.mail_me_title:after
{
    content:"";
    display: inline-block;
    width: 100px;
    height:1px;
    background: #c9c9c9;
    vertical-align: middle;
    margin: 0 20px;
    
}



.mail_me input[type="text"],
.mail_me input[type="email"]
{
    margin: 0;
    padding: 0;
    outline: none;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    
  
    
}

.mail_me input[type="text"],
.mail_me input[type="email"]
{
    padding-left: 20px; 
    width: 96%;
    height: 46px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.country
{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    
    -webkit-appearance: none;
    background: url(Images/arrow_down.png) no-repeat 498px 18px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
}

/*#a6a6a6  рамка для ховер*/

.star:after
{
    content: " *";
    color: red;
    font-weight: bold;
}

.some_text
{
    width: 100%;
    height: 148px; 
    resize: none;
    margin-bottom: 50px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
}

.man_woman
{
    margin: 10px 0 46px 0;
}

.man_woman p
{
    margin-bottom: 18px;
}

.man_woman label
{
    padding-right: 40px;
    
}

.man_woman input[type="radio"]
{
    margin-right: 9px;
}


.send_button
{
    border-color: transparent;
    border-radius: 5px;
    background-color: #15a98b;
    text-decoration:none;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
    width: 220px;
    width: 220px;
    height: 50px;
    cursor: pointer;
}

.some_text:hover,
.mail_me input:hover,
.country:hover
{
    border: 2px solid #a6a6a6;
    border-radius: 5px;
}

.some_text:focus,
.mail_me input:focus,
.country:focus
{
    border: 2px solid #15a98b;
    border-radius: 5px;
}

.man_woman label
{
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
}
    
@media screen and (max-width: 586px)
{
    
     
    
    .main_menu_item
    {
        float: none;
        margin-bottom: 5px;
    }
    
    .main_menu
    {
        height: 160px;
    }
    
    .mail_me.mail_me_title:after,
    .mail_me.mail_me_title:before
    {
        width: 90%;
    }
    
    .send_mail
    {
        width: 80%;
    }
    
    .some_text
    {
        max-width: 80%;
    }
    .mail_me input[type="text"],
    .mail_me input[type="email"]
    {
        width: 94%;
    }
 
}


@media screen and (max-width: 912px)
{
    .second_column
    {
        float: left;
    }
    
}

@media screen and (max-width: x)
{
    .quotation
    {
        
        
    }
    
    .photo
    {
        width: 230px;
        height: 230px;
    }
    .photo img
    {
        width: 270px;
    }
    
    .music img
    {
        width: 240px;
    }
    
    .music-item p
    {
        width: 220px;
        font-size: 14px;
    }
    
    .about_me
    {
        font-size: 16px;
        width: 220px;
    }
    
    .big_title
    {
        font-size: 30px
    }
    
    .main_content
    {
        
        margin:0;
        
    }
    
    .sidebar
    {
        width: 90%;
    }
    
    .music-item
    {
        width: 250px;
        margin: 0;
        padding-left: 0;
        float: none;
    }
}

@media screen and (max-width: 359px)
{
    .man_woman
    {
        margin-right: 100px;
    }
    
}

@media screen and (max-width: 296px)
    {
    .man_woman
    {
        margin-right: 30px;
    }
    
}

@media screen and (max-width: 1240px)
{
    .music
    {
        position: relative;
        left: 7%;
        width: 800px;
        
    }
}

@media screen and (max-width: 996px)
{
    .container
    {
        width: 500px;
        
        
    }
    
    .main_menu
    {
        width: 100%;
    }
    
    .quotation
    {
        width: 500px;
        font-size: 22px;
 
    }
    
    .first_column
    {
        position: relative;
        bottom: 100px;
    }
    
    .music
    {
        width: 700px;
        position: relative;
        bottom: 100px;
        margin-bottom: -100px;
       
        
    }
    
    
}


@media screen and (max-width: 850px)
{
   
    
    .music
    {
        width: 300px;
        margin: 0;
        margin-left: 80px;
    }
    
    .music p
    {
        width: 500px;
    }
    
    
    
}

@media screen and (max-width: 687px)
{
    
    
    
    .music
    {
        margin-left: 0;
    }
    
}


@media screen and (max-width: 726px)
    {
         .copyright
        {
            line-height: 35px;
        }
    }


@media screen and (max-width: 591px)
{
    .music p
    {
        width: 385px;
    }
    
   .music
    {
        margin-left: -30px;
        margin-bottom: -120px;
    }
}

@media screen and (max-width: 545px)
{
    .container
    {
        width: 400px;
    }
    
    .quotation
    {
        width: 400px;
    }
    
    .about_me
    {
        padding-right: 10px;
    }
    
    .big_title
    {
        display: block;
        line-height: 60px;
        margin: 0;
    }
}

@media screen and (max-width: 438px)
{
    .container
    {
        width: 350px;
    }
    
    .quotation
    {
        width: 350px;
        line-height: 30px;
        font-size: 18px;
        
    }
    
    .quotation p
    {
         font-size: 14px;
    }
    
    
    .music p
    {
        width: 285px;
    }
    
}

@media screen and (max-width: 386px)
{
    .container
    {
        width: 300px;
    }
    
    .send_mail
    {
        width: 75%;
    }
    
    .photo
    {
        width: 290px;
        height: 290px;
    }
    .photo img
    {
        width: 290px;
    }
    
    .quotation
    {
        width: 300px;
    }
    
}


@media screen and (max-width: 336px)
{   
    .container
    {
        max-width:280px;
    }
    
    .quotation
    {
        max-width: 280px;
    }
    
    .photo
    {
        max-width: 270px;
        max-height: 270px;
    }
    .photo img
    {
        max-width: 270px;
    }
    
    
    
    .music-item
    {
        max-width: 260px;
        margin-right: 0;
    }
    
    .music-item img
    {
        max-width: 260px;
    }
    
    .music-item p
    {
        max-width: 260px;
    }

    .music-title
    {
        
        max-width: 200px;
        font-size: 20px;
    }
    
    
    
    .music
    {
        max-width: 260px;
        margin-right: 0;
    }
}

@media screen and (max-width: 318px)
{
    .container
    {
        width: 100%;
    }
    
    .quotation
    {
        width: 100%;
        line-height: 20px;
    }
}

.hide
{
    display: none;
    opacity: 0.05;

}

.error
{
    margin: 0;
    padding: 0;
    outline: none;
    border: 2px solid red;
    border-radius: 5px;
}

.mail_me .req:invalid {
  border: 2px solid red;
}

.mail_me .req:focus
{
   border: 2px solid #15a98b;
   border-radius: 5px; 
}

.popup_form
{
    position: absolute;
    top: 200px;
    left: 500px;
    background-color: white;
    z-index: 200;
    width: 660px;
    
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    
}

.popup_form .mail_me_title
{
    text-align: left;
    text-transform: none;
    margin-bottom: 10px;
    margin-top: 15px;
}

.popup_form .mail_me_title::before,
.popup_form .mail_me_title::after
{
    display: none;
}

.popup_form .mail_me
{
    position: relative;
}

.popup_form .close
{
    
    position: absolute;
    right: -35px;
    top: -70px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  
    
}

.popup_form .close::before,
.popup_form .close::after
{
    position: absolute;
    content: '';
    height: 33px;
    width: 1px;
    right: 15px;
    background-color: #707070;
    border: 1px solid #707070;
    border-radius: 20px;
    
}

.close::before
{
    transform: rotate(45deg);
}

.close::after
{
    transform: rotate(-45deg);
}

.back_in_black
{
    background-color: black;
    opacity: 0.6;
    width: 1920px;
    height: 100%;
    position: fixed;
    z-index: 190;
    cursor: pointer;
    display: none;
}